### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

# IntelliJ Module and workspace files
.idea/modules.xml
.idea/*.iml
.idea/workspace.xml
.idea/libraries

# IntelliJ project files
.idea/shelf/
.idea/vcs.xml

# Gradle
.gradle/
build/
out/
**/build/
**/out/

# Gradle Wrapper
!gradle/wrapper/gradle-wrapper.jar
.gradle-cache/
.gradle-cache/compile/
.gradle-cache/test-classes/
.gradle-cache/production/

# User-specific files
.DS_Store
*.swp
*~.nib
*.bak
*.tmp
*.temp
*.log
*.orig

# VS Code
.vscode/

.env

